{
  "extends": "react-app",
  "rules": {
    "no-unused-vars": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "no-console": "off"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  }
}
